<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset = "utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/style.css">
	<script type="text/javascript" src="../js/jquery-1.12.0.js"></script>
	<script src="../js/jquery.plugin.js"></script>
	<script src="../js/jquery.imagecube.js"></script>
	<script>
		$(function () {
		$('#basicCube').imagecube();
		});
	</script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	
	<!-- AJAX calls -->
	 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#test').click(function () {
                var payload = {
                    name: $('#userName').val(),
                    empID: $('#empId').val(),
                    pass: $('#pwd').val()
                };
                console.log("payload" +payload);
                $.ajax({
                    url: "/login",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function (data) {
                        $('#output').html(data.responseText);
                    }
                });
            });
        });
    </script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				 <div id="basicCube">
					<img src="../images/face1.png" alt="logo" title="logo1">
					<img src="../images/face2.jpg" alt="logo" title="logo2">
					<img src="../images/face3.jpg" alt="logo" title="logo3">
					<img src="../images/face4.jpg" alt="logo" title="logo4">
				</div>
			</div>
			<div class="col-md-6 text-right text-uppercase">
				<h1 class="title-super text-thin">Altimetrik Quiz</h1>
				<h4>Did you know?</h4>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<form>
				<button id="test">TEST</button>
					<h3 align="center" class="login-font"> Sign up for Quiz</h3>
				    <label for="inputdefault" class="login-font button-layout">User Name*</label>
				    <p id="errorUserName" class="login-font button-layout errTxt"></p>
					<input class="form-control button-layout" id="userName" type="text"><br>
					<label for="inputdefault" class="login-font button-layout">Employee ID*</label>
					<p id="errorEmpId" class="login-font button-layout errTxt"></p>
					<input class="form-control button-layout" id="empId" type="text"><br>
					<label for="inputdefault" class="login-font button-layout">Password*</label>
					<p id="errorPassword" class="login-font button-layout errTxt"></p>
					<input class="form-control button-layout" id="pwd" type="password"><br>
					<label for="inputdefault" class="login-font button-layout">Confirm Password*</label>
					<p id="errorCnfrmPassword" class="login-font button-layout errTxt"></p>
					<input class="form-control button-layout" id="cpwd" type="password"><br>
					<input type="button" id="signUp" class="btn btn-primary btn-lg button-layout" value="Sign Up"><br><br>
					<script type="text/javascript">
		            	document.getElementById("signUp").onclick = function () {
		            	document.getElementById("errorUserName").innerHTML = " ";
		                document.getElementById("errorEmpId").innerHTML = " ";
		                document.getElementById("errorPassword").innerHTML = " ";
		                document.getElementById("errorCnfrmPassword").innerHTML = " ";

		              if(document.getElementById("userName").value == "") {
		                document.getElementById("errorUserName").innerHTML = "Enter Username";
		              }
		              else if(document.getElementById("empId").value == "") {
		                  document.getElementById("errorEmpId").innerHTML = "Enter employee ID";
		              }
		              else if(document.getElementById("pwd").value == "") {
		                  document.getElementById("errorPassword").innerHTML = "Enter password";
		              }
		              else if(document.getElementById("cpwd").value == "") {
		                  document.getElementById("errorCnfrmPassword").innerHTML = "Enter confirm password";
		              }

		               else if(document.getElementById("pwd").value != document.getElementById("cpwd").value) {
		                   document.getElementById("errorPassword").innerHTML = "Password and confirm password mismatch";
		              }

		              else {
				            var payload = {
		                    name: $('#userName').val(),
		                    empID: $('#empId').val(),
		                    pass: $('#pwd').val()
		                };
		                alert(payload);
		                $.ajax({
		                    url: "/login",
		                    type: "POST",
		                    contentType: "application/json",
		                    processData: false,
		                    data: JSON.stringify(payload),
		                    complete: function (data) {
		                        $('#output').html(data.responseText);
		                    }
		                });
						   localStorage.setItem("lUserName", document.getElementById("userName").value);
						   localStorage.setItem("lPassword", document.getElementById("pwd").value);

		                   location.href = "success.html";
		              }
		              			
		            };
             </script>
				</form>
			</div>
		</div>
	</div>

</body>
</html>